# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

manifest_daniel.yml

coverage.out
test

/uploads

# uc configuration settings
config.json
